<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{ title }}</span>
        <span class="example-spacer"></span>
        <button mat-button routerLink='/lavanderia'>Home</button>
        <button mat-button routerLink='/publicaciones'>Publicaciones</button>
        <button mat-button routerLink='/suscripcion'>Suscripcion</button>
        <mat-icon routerLink='/login' class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>