.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://s04.s3c.es/imag/_v0/770x420/b/3/9/700x420_lavanderia.jpg');
    background-size: cover;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  